{% extends "email_base.html" %}

{% block headline %}Password Reset{% endblock %}

{% block body %}
{% load multiply %}
{% load key %}
{% load humanize %}
{% load i18n %}

Hi {{ user.username }}, 
<br><br>
You're receiving this email because you requested a password reset for your BuildingSPEAK user account.  If you do not wish to change your password, please disregard this email.  Otherwise, click the following link to set up your new password.
<br><br>
<a href="{{ protocol }}://{{ base_url }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
<br><br>
If you have questions, please contact us at <a href="mailto:info@buildingspeak.com">info@buildingspeak.com</a>.
<br><br>
Thanks for choosing us,<br>
The BuildingSPEAK Team

{% endblock %}

