{% extends 'buildingspeakapp/meters/base.html' %}
{% load humanize %}

{% block contents %}

<div class="tab tab-info">
  <div class="row">
    <div class="fivecol-three space-details">
      {% if meter.serves %}
        <div class="form-item">
          <label>Serves:</label>
          <span>{{ meter.serves }}</span>
        </div>
      {% endif %}
      {% if meter.location %}
        <div class="form-item">
          <label>Located:</label>
          <span>{{ meter.location }}</span>
        </div>
      {% endif %}
      {% if meter.make %}
        <div class="form-item">
          <label>Make:</label>
          <span>{{ meter.make }}</span>
        </div>
      {% endif %}
      {% if meter.model %}
        <div class="form-item">
          <label>Model:</label>
          <span>{{ meter.model }}</span>
        </div>
      {% endif %}
      {% if meter.serial_number %}
        <div class="form-item">
          <label>Serial #:</label>
          <span>{{ meter.serial_number }}</span>
        </div>
      {% endif %}
      {% if meter.utility_account_number %}
        <div class="form-item">
          <label>Provider acct. #:</label>
          <span>{{ meter.utility_account_number }}</span>
        </div>
      {% endif %}
      {% if meter.utility_meter_number %}
        <div class="form-item">
          <label>Provider meter #:</label>
          <span>{{ meter.utility_meter_number }}</span>
        </div>
      {% endif %}

	  <span><a href="/{{ account.id }}/meters/{{ meter.id }}/edit/">Edit Meter Details</a></span>

	  </div>
    <div class="fivecol-two last">
      <ul class="images">
        {% if meter.image_file %}
          <li>
            <a rel="images" href="{{ meter.image_file.url }}"><img src="{{ meter.image_file.url }}" style="height: 100px;"/></a>
          </li>
		{% else %}
          <li>
            <a rel="images" href="{{ STATIC_PREFIX }}default_images/default_meter_image.png"><img src="{{ STATIC_PREFIX }}default_images/default_meter_image.png" style="height: 100px;"/></a>
          </li>
		{% endif %}
        {% if meter.nameplate_file %}
          <li>
            <a rel="images" href="{{ meter.nameplate_file.url }}"><img src="{{ meter.nameplate_file.url }}" style="height: 100px;" /></a>
          </li>
		{% else %}
          <li>
            <a rel="images" href="{{ STATIC_PREFIX }}default_images/default_meter_nameplate_image.png"><img src="{{ STATIC_PREFIX }}default_images/default_meter_nameplate_image.png" style="height: 100px;" /></a>
          </li>
		{% endif %}
      </ul>
    </div> <!-- .fivecol-two -->
  </div> <!-- .row -->

    <form enctype="multipart/form-data" class="entry" action="/{{ account.id }}/meters/{{ meter.id }}/info/" method="post">
      {% csrf_token %}
    <img src="{{ STATIC_PREFIX }}app/img/resort/icons/help.png" class="tooltip" style="float:right;" title="{{ tab_help_text|safe }}"></img>
    <input type="submit" value="Export" name="export_info_tab" style="float:right;"/>
    </form>

  {% if meter.emmeterapportionment_set.all %}
    <div class="clear">
      <div class="woo-sc-hr"></div>
    </div>
    <h2>Efficiency Measures</h2>
    <table>
      <tbody>
          <tr>
            <td>Efficiency Measure</td>
            <td>Start Date</td>
            <td>Portion of Savings Assigned</td>
            <td></td>
          </tr>
        {% for ema in meter.emmeterapportionment_set.all %}
          <tr>
            <td><a href="/{{ account.id }}/measures/{{ ema.efficiency_measure.id }}/">{{ ema.efficiency_measure.name }}</a></td>
            <td>{{ ema.efficiency_measure.start_date }}</td>
            <td>{{ ema.assigned_fraction|floatformat:3|intcomma }}</td>
            <td>
                <a href="/{{ account.id }}/meters/{{ meter.id }}/connect_measure/{{ ema.id }}">edit</a>
                /
                <a id="ema{{ ema.id }}" href="/{{ account.id }}/meters/{{ meter.id }}/remove_measure/{{ ema.id }}">remove</a>
                <script type="text/javascript">
                        // Initialize Variables
                        var ema{{ ema.id }} = document.getElementById("ema{{ ema.id }}");
                        //Function to open popup window
                        ema{{ ema.id }}.onclick = function() {
                            overlay.style.display = 'block';
                            popup.style.display = 'block';
                            return false;
                        };
                        //Function to execute remove url
                        button_yes.onclick = function() {
                            window.location = ema{{ ema.id }}.href;
                        };
                </script>
            </td>
          </tr>
        {% endfor %}
          <tr>
            <td><a href="/{{ account.id }}/meters/{{ meter.id }}/connect_measure/">+ Add Measure</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      </tbody>
    </table>
  {% endif %}

  {% if meter.buildingmeterapportionment_set.all %}
    <div class="clear">
      <div class="woo-sc-hr"></div>
    </div>
    <h2>Buildings</h2>
    <table>
      <tbody>
          <tr>
            <td>Building Served</td>
            <td>Fraction of Meter Assigned</td>
            <td></td>
          </tr>
        {% for bma in meter.buildingmeterapportionment_set.all %}
          <tr>
            <td><a href="/{{ account.id }}/buildings/{{ bma.building.id }}/">{{ bma.building.name }}</a></td>
            <td>{{ bma.assigned_fraction|floatformat:3|intcomma }}</td>
            <td>
                <a href="/{{ account.id }}/meters/{{ meter.id }}/connect_building/{{ bma.id }}">edit</a>
                /
                <a id="bma{{bma.id}}" href="/{{ account.id }}/meters/{{ meter.id }}/remove_building/{{ bma.id }}">remove</a>
                <script type="text/javascript">
                        // Initialize Variables
                        var bma{{ bma.id }} = document.getElementById("bma{{ bma.id }}");
                        //Function to open popup window
                        bma{{ bma.id }}.onclick = function() {
                            overlay.style.display = 'block';
                            popup.style.display = 'block';
                            return false;
                        };
                        //Function to execute remove url
                        button_yes.onclick = function() {
                            window.location = bma{{ bma.id }}.href;
                        };
                </script>
            </td>
          </tr>
        {% endfor %}
          <tr>
            <td><a href="/{{ account.id }}/meters/{{ meter.id }}/connect_building/">+ Add Building</a></td>
            <td></td>
            <td></td>
          </tr>
      </tbody>
    </table>
  {% endif %}

  {% if meter.spacemeterapportionment_set.all %}
    <div class="clear">
      <div class="woo-sc-hr"></div>
    </div>
    <h2>Spaces</h2>
    <table>
      <tbody>
          <tr>
            <td>Space Served</td>
            <td>Fraction of Meter Assigned</td>
            <td></td>
          </tr>
        {% for sma in meter.spacemeterapportionment_set.all %}
          <tr>
            <td><a href="/{{ account.id }}/spaces/{{ sma.space.id }}/">{{ sma.space.name }}</a></td>
            <td>{{ sma.assigned_fraction|floatformat:3|intcomma }}</td>
            <td>
                <a href="/{{ account.id }}/meters/{{ meter.id }}/connect_space/{{ sma.id }}">edit</a>
                /
                <a id="sma{{ sma.id }}" href="/{{ account.id }}/meters/{{ meter.id }}/remove_space/{{ sma.id }}">remove</a>
                <script type="text/javascript">
                        // Initialize Variables
                        var sma{{ sma.id }} = document.getElementById("sma{{ sma.id }}");
                        //Function to open popup window
                        sma{{ sma.id }}.onclick = function() {
                            overlay.style.display = 'block';
                            popup.style.display = 'block';
                            return false;
                        };
                        //Function to execute remove url
                        button_yes.onclick = function() {
                            window.location = sma{{ sma.id }}.href;
                        };
                </script>            
            </td>
          </tr>
        {% endfor %}
          <tr>
            <td><a href="/{{ account.id }}/meters/{{ meter.id }}/connect_space/">+ Add Space</a></td>
            <td></td>
            <td></td>
          </tr>
      </tbody>
    </table>
  {% endif %}

  {% if meter.equipment_set.all %}
    <div class="clear">
      <div class="woo-sc-hr"></div>
    </div>
    <h2>Equipment</h2>
    <table>
      <tbody>
          <tr>
            <td>Equipment Served</td>
          </tr>
        {% for e in meter.equipment_set.all %}
          <tr>
            <td><a href="/{{ account.id }}/equipments/{{ e.id }}/">{{ e.name }}</a></td>
          </tr>
        {% endfor %}
          <tr>
            <td><a href="/{{ account.id }}/meters/{{ meter.id }}/connect_equipment/">+ Add Equipment</a></td>
          </tr>
      </tbody>
    </table>
  {% endif %}

  <div class="clear">
    <div class="woo-sc-hr"></div>
  </div>

  <a id="eventlist"></a>
  <h2>Alerts:</h2>
  <table>
    <tbody>
      {% if alerts %}
        {% for a in alerts %}
          <tr>
            <td>{{ a.get_field_1_display }} {{ a.get_utility_type_1_display }}</td>
            <td>{{ a.get_comparator_display }}</td>
            <td>{{ a.get_field_2_display }} {{ a.get_utility_type_2_display }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>No alerts.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>


  <div class="clear">
    <div class="woo-sc-hr"></div>
  </div>

  <h2>Event Log:</h2>
  <table>
    <tbody>
      {% if events %}
        {% for e in events %}
          <tr>
            <td>{{ e.when|date:"m/d/Y" }}</td>
            <td>{{ e.subject }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>No events.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  {% if adding_events_is_enabled %}
    <h4>Add an event for this space:</h4>
    <form enctype="multipart/form-data" class="entry" action="/{{ account.id }}/meters/{{ meter.id }}/info/#eventlist" method="post">
      {% csrf_token %}
      <input type="text" class="event-date short datepicker" value="{% now "m/d/Y" %}" name="when"/>
      <input type="text" class="event-description" placeholder="Click to enter event description" name="subject"/>
      <input type="submit" class="woo-sc-button custom small woo-bu" value="Add" name="add_event"/>
    </form>
  {% endif %}

  </div> <!-- .tab-info -->

{% endblock %}

