{% extends 'buildingspeakapp/meters/base.html' %}

{% block contents %}

<div class="tab tab-launch">
  <form enctype="multipart/form-data" class="entry" action="" method="post">
    {% csrf_token %}
    {{ read_pdf_form.non_field_errors }}
    <div class="form-item">
      {{ read_pdf_form.pdf_file }}<br>
      {{ read_pdf_form.pdf_file.errors }}
    </div>
    <div class="form-item">
      {{ read_pdf_form.ubdc }}<br>
      {{ read_pdf_form.ubdc.errors }}
    </div>
    <br>
    <input type="submit" value="Read Bill PDF" name="read_pdf" style="margin-right: 10pt"/>

  <div class="clear">
    <div class="woo-sc-hr"></div>
  </div>

  <div id="monthling_dict_from_pdf" style="width: 100%;">
      {{ read_pdf_form.monthling_dict_from_pdf.label_tag }}
      {{ read_pdf_form.monthling_dict_from_pdf }}
      {{ read_pdf_form.monthling_dict_from_pdf.errors }}
      <br>
      <br>
      <input type="submit" value="Add Month" name="add_month"/>
      <input type="submit" value="Save" name="save"/>
  </div>

  <div class="clear">
    <div class="woo-sc-hr"></div>
  </div>

  <div style="overflow-x: scroll;">
  <table>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      {% if being_tracked_Consumption %}<th>Consumption<br>({{ meter.consumption_units }})</th>{% endif %}
      {% if being_tracked_Peak_Demand %}<th>Peak Demand ({{ meter.demand_units }})</th>{% endif %}
      {% if being_tracked_Billing_Demand %}<th>Billing Demand ({{ meter.demand_units }})</th>{% endif %}
      {% if being_tracked_Cost %}<th>Total Cost (USD)</th>{% endif %}
      {% if being_tracked_Supply_Cost %}<th>Supply Cost (USD)</th>{% endif %}
      {% if being_tracked_Delivery_Cost %}<th>Delivery Cost (USD)</th>{% endif %}
    </tr>
    {% for monthling in monthlings %}
      <tr>
        <td>{{ monthling.start_date }}</td>
        <td>{{ monthling.end_date }}</td>
        {% if being_tracked_Consumption %}<td>{{ monthling.consumption }}</td>{% endif %}
        {% if being_tracked_Peak_Demand %}<td>{{ monthling.peak_demand }}</td>{% endif %}
        {% if being_tracked_Billing_Demand %}<td>{{ monthling.billing_demand }}</td>{% endif %}
        {% if being_tracked_Cost %}<td>{{ monthling.cost }}</td>{% endif %}
        {% if being_tracked_Supply_Cost %}<td>{{ monthling.cost_supply }}</td>{% endif %}
        {% if being_tracked_Delivery_Cost %}<td>{{ monthling.cost_delivery }}</td>{% endif %}
      </tr>
    {% endfor %}
  </table>
  </div>
  
  <br>
  
  <input type="submit" name="edit" value="Edit or Delete">
  <input type="submit" name="remove_all" value="Remove All">
  <input type="submit" name="upload" value="Upload">

</div> <!-- .tab-launch -->

{% endblock %}

