{% extends 'buildingspeakapp/spaces/base.html' %}

{% block contents %}

<div class="tab tab-details">

<form enctype="multipart/form-data" class="entry" action="/{{ account.id }}/spaces/{{ space.id }}/details/" method="post">
  {% csrf_token %}
<img src="{{ STATIC_PREFIX }}app/img/resort/icons/help.png" class="tooltip" style="float:right;" title="{{ tab_help_text|safe }}"></img>
<input type="submit" value="Export" name="export_details_tab" style="float:right;"/>
</form>

<h2 style="display:inline">Space Details</h2>  |  <a href="/{{ account.id }}/spaces/{{ space.id }}/edit/">Edit Space Details</a> 
<table>
  <tbody>
    <tr><td>Name:</td><td>{{ space.name }}</td></tr>
    <tr><td>Type:</td><td>{{ space.space_type }}</td></tr>
    <tr><td>EIA Type:</td><td>{{ space.EIA_type }}</td></tr>
    <tr><td>Square Footage:</td><td>{{ space.square_footage }}</td></tr>
    <tr><td>Max. Occupancy:</td><td>{{ space.max_occupancy }}</td></tr>
    <tr><td>Image File:</td><td>
						{% if space.image_file %}
						<img src="{{ space.image_file.url }}" alt="space image" style="height: 40px;"/>
						{% else %}
						<b>No Space image file!</b>
						{% endif %}
						</td></tr>
  </tbody>
</table>

<h2 style="display:inline">Space ENERGY STAR Info</h2>  |  <span><a href="/{{ account.id }}/spaces/{{ space.id }}/edit/">Edit ENERGY STAR Type</a></span>  |  <span><a href="/{{ account.id }}/spaces/{{ space.id }}/edit-energystar/">Edit ENERGY STAR Fields</a></span>
<table>
  <tbody>
    <tr><td>Portfolio Manager Property Type:</td><td>{{ space_ESPM_type }}</td></tr>
    {% if space.ESPM_type == 'worshipFacility' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of commercial refrigeration units:</td><td>{{ space.numberOfCommercialRefrigerationUnits }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Cooking facilities?:</td><td>{{ space.cookingFacilities }}</td></tr>
        <tr><td>Seating capacity:</td><td>{{ space.seatingCapacity }}</td></tr>
        <tr><td>Number of weekdays open:</td><td>{{ space.numberOfWeekdaysOpen }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'wholesaleClubSupercenter' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Exterior entrance to the public?:</td><td>{{ space.exteriorEntranceToThePublic }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Number of cash registers:</td><td>{{ space.numberOfCashRegisters }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Number of open closed refrigeration units:</td><td>{{ space.numberOfOpenClosedRefrigerationUnits }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'wastewaterTreatmentPlant' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Average influent biological oxygen demand:</td><td>{{ space.averageInfluentBiologicalOxygenDemand }}</td></tr>
        <tr><td>Average effluent biological oxygen demand:</td><td>{{ space.averageEffluentBiologicalOxygenDemand }}</td></tr>
        <tr><td>Plant design flow rate:</td><td>{{ space.plantDesignFlowRate }}</td></tr>
        <tr><td>Fixed film trickle filtration process:</td><td>{{ space.fixedFilmTrickleFiltrationProcess }}</td></tr>
        <tr><td>Nutrient removal:</td><td>{{ space.nutrientRemoval }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'swimmingPool' %}
        <tr><td>Pool size:</td><td>{{ space.poolSize }}</td></tr>
        <tr><td>Pool location:</td><td>{{ space.poolLocation }}</td></tr>
        <tr><td>Months in use:</td><td>{{ space.monthsInUse }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'supermarket' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Cooking facilities?:</td><td>{{ space.cookingFacilities }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Number of open closed refrigeration units:</td><td>{{ space.numberOfOpenClosedRefrigerationUnits }}</td></tr>
        <tr><td>Number of cash registers:</td><td>{{ space.numberOfCashRegisters }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'stadiumOpen' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Enclosed floor area:</td><td>{{ space.enclosedFloorArea }}</td></tr>
        <tr><td>Number of sporting events per year:</td><td>{{ space.numberOfSportingEventsPerYear }}</td></tr>
        <tr><td>Number of concert show events per year:</td><td>{{ space.numberOfConcertShowEventsPerYear }}</td></tr>
        <tr><td>Number of special other events per year:</td><td>{{ space.numberOfSpecialOtherEventsPerYear }}</td></tr>
        <tr><td>Size of electronic score boards:</td><td>{{ space.sizeOfElectronicScoreBoards }}</td></tr>
        <tr><td>Ice events:</td><td>{{ space.iceEvents }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'stadiumClosed' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Enclosed floor area:</td><td>{{ space.enclosedFloorArea }}</td></tr>
        <tr><td>Number of sporting events per year:</td><td>{{ space.numberOfSportingEventsPerYear }}</td></tr>
        <tr><td>Number of concert show events per year:</td><td>{{ space.numberOfConcertShowEventsPerYear }}</td></tr>
        <tr><td>Number of special other events per year:</td><td>{{ space.numberOfSpecialOtherEventsPerYear }}</td></tr>
        <tr><td>Size of electronic score boards:</td><td>{{ space.sizeOfElectronicScoreBoards }}</td></tr>
        <tr><td>Ice events:</td><td>{{ space.iceEvents }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'singleFamilyHome' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of bedrooms:</td><td>{{ space.numberOfBedrooms }}</td></tr>
        <tr><td>Number of people:</td><td>{{ space.numberOfPeople }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'seniorCareCommunity' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of residential living units:</td><td>{{ space.numberOfResidentialLivingUnits }}</td></tr>
        <tr><td>Average number of residents:</td><td>{{ space.averageNumberOfResidents }}</td></tr>
        <tr><td>Maximum resident capacity:</td><td>{{ space.maximumResidentCapacity }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Number of commercial refrigeration units:</td><td>{{ space.numberOfCommercialRefrigerationUnits }}</td></tr>
        <tr><td>Number of commercial washing machines:</td><td>{{ space.numberOfCommercialWashingMachines }}</td></tr>
        <tr><td>Number of residential washing machines:</td><td>{{ space.numberOfResidentialWashingMachines }}</td></tr>
        <tr><td>Number of residential lift systems:</td><td>{{ space.numberOfResidentialLiftSystems }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'retail' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Number of cash registers:</td><td>{{ space.numberOfCashRegisters }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Number of open closed refrigeration units:</td><td>{{ space.numberOfOpenClosedRefrigerationUnits }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Single store?:</td><td>{{ space.singleStore }}</td></tr>
        <tr><td>Exterior entrance to the public?:</td><td>{{ space.exteriorEntranceToThePublic }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'residenceHallDormitory' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of rooms:</td><td>{{ space.numberOfRooms }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Has computer lab?:</td><td>{{ space.hasComputerLab }}</td></tr>
        <tr><td>Has dining hall?:</td><td>{{ space.hasDiningHall }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'refrigeratedWarehouse' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'parking' %}
        <tr><td>Supplemental heating?:</td><td>{{ space.supplementalHeating }}</td></tr>
        <tr><td>Open square footage:</td><td>{{ space.openFootage }}</td></tr>
        <tr><td>Completely enclosed square footage:</td><td>{{ space.completelyEnclosedFootage }}</td></tr>
        <tr><td>Partially enclosed square footage:</td><td>{{ space.partiallyEnclosedFootage }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'otherStadium' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Enclosed floor area:</td><td>{{ space.enclosedFloorArea }}</td></tr>
        <tr><td>Number of sporting events per year:</td><td>{{ space.numberOfSportingEventsPerYear }}</td></tr>
        <tr><td>Number of concert show events per year:</td><td>{{ space.numberOfConcertShowEventsPerYear }}</td></tr>
        <tr><td>Number of special other events per year:</td><td>{{ space.numberOfSpecialOtherEventsPerYear }}</td></tr>
        <tr><td>Size of electronic score boards:</td><td>{{ space.sizeOfElectronicScoreBoards }}</td></tr>
        <tr><td>Ice events:</td><td>{{ space.iceEvents }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'office' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Percent office cooled:</td><td>{{ space.percentOfficeCooled }}</td></tr>
        <tr><td>Percent office heated:</td><td>{{ space.percentOfficeHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'nonRefrigeratedWarehouse' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'multifamilyHousing' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of residential living units:</td><td>{{ space.numberOfResidentialLivingUnits }}</td></tr>
        <tr><td>Number of bedrooms:</td><td>{{ space.numberOfBedrooms }}</td></tr>
        <tr><td>Maximum number of floors:</td><td>{{ space.maximumNumberOfFloors }}</td></tr>
        <tr><td>Percent of floor area that is common space only:</td><td>{{ space.percentOfFloorAreaThatIsCommonSpaceOnly }}</td></tr>
        <tr><td>Number of laundry hookups in all units:</td><td>{{ space.numberOfLaundryHookupsInAllUnits }}</td></tr>
        <tr><td>Number of laundry hookups in common area:</td><td>{{ space.numberOfLaundryHookupsInCommonArea }}</td></tr>
        <tr><td>Number of dishwashers:</td><td>{{ space.numberOfDishwashers }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Primary hot water fuel type:</td><td>{{ space.primaryHotWaterFuelType }}</td></tr>
        <tr><td>Resident population:</td><td>{{ space.residentPopulation }}</td></tr>
        <tr><td>Government subsidized housing:</td><td>{{ space.governmentSubsidizedHousing }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'medicalOffice' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of surgical operating beds:</td><td>{{ space.numberOfSurgicalOperatingBeds }}</td></tr>
        <tr><td>Surgery center floor area:</td><td>{{ space.surgeryCenterFloorArea }}</td></tr>
        <tr><td>Number of MRI machines:</td><td>{{ space.numberOfMriMachines }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'k12School' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Open on weekends?:</td><td>{{ space.openOnWeekends }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Cooking facilities?:</td><td>{{ space.cookingFacilities }}</td></tr>
        <tr><td>Is high school?:</td><td>{{ space.isHighSchool }}</td></tr>
        <tr><td>Months in use:</td><td>{{ space.monthsInUse }}</td></tr>
        <tr><td>School district:</td><td>{{ space.schoolDistrict }}</td></tr>
        <tr><td>Student seating capacity:</td><td>{{ space.studentSeatingCapacity }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Gymnasium floor area:</td><td>{{ space.gymnasiumFloorArea }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'indoorArena' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Enclosed floor area:</td><td>{{ space.enclosedFloorArea }}</td></tr>
        <tr><td>Number of sporting events per year:</td><td>{{ space.numberOfSportingEventsPerYear }}</td></tr>
        <tr><td>Number of concert show events per year:</td><td>{{ space.numberOfConcertShowEventsPerYear }}</td></tr>
        <tr><td>Number of special other events per year:</td><td>{{ space.numberOfSpecialOtherEventsPerYear }}</td></tr>
        <tr><td>Size of electronic score boards:</td><td>{{ space.sizeOfElectronicScoreBoards }}</td></tr>
        <tr><td>Ice events:</td><td>{{ space.iceEvents }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'hotel' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Full service spa floor area:</td><td>{{ space.fullServiceSpaFloorArea }}</td></tr>
        <tr><td>Gym center floor area:</td><td>{{ space.gymCenterFloorArea }}</td></tr>
        <tr><td>Hours per day guests on-site:</td><td>{{ space.hoursPerDayGuestsOnsite }}</td></tr>
        <tr><td>Number of commercial refrigeration units:</td><td>{{ space.numberOfCommercialRefrigerationUnits }}</td></tr>
        <tr><td>Number of guest meals served per year:</td><td>{{ space.numberOfGuestMealsServedPerYear }}</td></tr>
        <tr><td>Number of hotel rooms:</td><td>{{ space.numberOfHotelRooms }}</td></tr>
        <tr><td>Laundry facility?:</td><td>{{ space.laundryFacility }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Cooking facilities?:</td><td>{{ space.cookingFacilities }}</td></tr>
        <tr><td>Amount of laundry processed annually:</td><td>{{ space.amountOfLaundryProcessedAnnually }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'hospital' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Has laboratory?:</td><td>{{ space.hasLaboratory }}</td></tr>
        <tr><td>On-site laundry facility?:</td><td>{{ space.onSiteLaundryFacility }}</td></tr>
        <tr><td>Maximum number of floors:</td><td>{{ space.maximumNumberOfFloors }}</td></tr>
        <tr><td>Number of staffed beds:</td><td>{{ space.numberOfStaffedBeds }}</td></tr>
        <tr><td>Number of FTE workers:</td><td>{{ space.numberOfFTEWorkers }}</td></tr>
        <tr><td>Number of MRI machines:</td><td>{{ space.numberOfMriMachines }}</td></tr>
        <tr><td>Owned by:</td><td>{{ space.ownedBy }}</td></tr>
        <tr><td>Is tertiary care?:</td><td>{{ space.isTertiaryCare }}</td></tr>
        <tr><td>Licensed bed capacity:</td><td>{{ space.licensedBedCapacity }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'financialOffice' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Percent office cooled:</td><td>{{ space.percentOfficeCooled }}</td></tr>
        <tr><td>Percent office heated:</td><td>{{ space.percentOfficeHeated }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'drinkingWaterTreatmentAndDistribution' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'distributionCenter' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
        <tr><td>Number of walk in refrigeration units:</td><td>{{ space.numberOfWalkInRefrigerationUnits }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'dataCenter' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Cooling equipment redundancy:</td><td>{{ space.coolingEquipmentRedundancy }}</td></tr>
        <tr><td>IT energy meter configuration:</td><td>{{ space.itEnergyMeterConfiguration }}</td></tr>
        <tr><td>UPS system redundancy:</td><td>{{ space.upsSystemRedundancy }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'courthouse' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Percent office cooled:</td><td>{{ space.percentOfficeCooled }}</td></tr>
        <tr><td>Percent office heated:</td><td>{{ space.percentOfficeHeated }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'collegeUniversity' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Enrollment:</td><td>{{ space.enrollment }}</td></tr>
        <tr><td>Grant dollars:</td><td>{{ space.grantDollars }}</td></tr>
        <tr><td>Number of FTE workers:</td><td>{{ space.numberOfFTEWorkers }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'barracks' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Has computer lab?:</td><td>{{ space.hasComputerLab }}</td></tr>
        <tr><td>Has dining hall?:</td><td>{{ space.hasDiningHall }}</td></tr>
        <tr><td>Number of rooms:</td><td>{{ space.numberOfRooms }}</td></tr>
        <tr><td>Percent cooled:</td><td>{{ space.percentCooled }}</td></tr>
        <tr><td>Percent heated:</td><td>{{ space.percentHeated }}</td></tr>
    {% endif %}
    {% if space.ESPM_type == 'bankBranch' %}
        <tr><td>Total gross floor area:</td><td>{{ space.totalGrossFloorArea }}</td></tr>
        <tr><td>Number of computers:</td><td>{{ space.numberOfComputers }}</td></tr>
        <tr><td>Percent office cooled:</td><td>{{ space.percentOfficeCooled }}</td></tr>
        <tr><td>Percent office heated:</td><td>{{ space.percentOfficeHeated }}</td></tr>
        <tr><td>Weekly operating hours:</td><td>{{ space.weeklyOperatingHours }}</td></tr>
        <tr><td>Number of workers:</td><td>{{ space.numberOfWorkers }}</td></tr>
    {% endif %}

    </tbody>
</table>

</div> <!-- .tab-details -->

{% endblock %}

