{% extends 'buildingspeakapp/buildings/base.html' %}

{% block contents %}

  <div class="tab-container">
    <form enctype="multipart/form-data" class="entry" action="/{{ account.id }}/buildings/{{ building.id }}/connect_meter/" method="post">{% csrf_token %}
      {{ connect_building_meter_form.non_field_errors }}
      <div class="form-item">
        {{ connect_building_meter_form.building.label_tag }}
        {{ connect_building_meter_form.building }}
        {{ connect_building_meter_form.building.errors }}
      </div>
      <div class="form-item">
        {{ connect_building_meter_form.meter.label_tag }}
        {{ connect_building_meter_form.meter }}
        {{ connect_building_meter_form.meter.errors }}
      </div>
      <div class="form-item">
        {{ connect_building_meter_form.assigned_fraction.label_tag }}
        {{ connect_building_meter_form.assigned_fraction }}
        {{ connect_building_meter_form.assigned_fraction.errors }}
      </div>

	  <a style="margin: 5px" class="button" href="/{{ account.id }}/buildings/{{ building.id }}/info/">Cancel</a>
	  <input style="margin: 5px" type="submit" value="Save" name="connect_building_meter"/>
    
	</form>
  </div>
{% endblock %}

