{% extends 'app_base.html' %}

{% block body %}

<style type="text/css">
#ui-tabs-1, #ui-tabs-2, #ui-tabs-3, #ui-tabs-4, #ui-tabs-5,
#ui-tabs-6, #ui-tabs-7, #ui-tabs-8, #ui-tabs-9, #ui-tabs-10 {
  display: none !important;
}
.tab-container {
  background-color: #ffffff;
  overflow: auto;
  margin: 0;
  padding: 9px 18px;
  clear: both;
}
.actions { text-align: right; }
a.button { background-color: #5298d2 !important; }
a.button:hover { background-color: #3076b0 !important; }
</style>

<header>
  <font size="3">
	<a href="/{{ account.id }}/">Account: {{ account.name }}</a>  >  
	Equipment: {{ equipment.name }}
  </font>
  <img src="{{ STATIC_PREFIX }}app/img/resort/icons/help.png" class="tooltip" style="float:right;" title="{{ main_page_help_text }}"></img>
</header>

<section class="entry">
  <div class="shortcode-tabs default" id="tabs-11">
    <ul class="tab_titles">
      <li class="nav-tab {% if tab == 'info' %}ui-tabs-active ui-state-active{% endif %}">
        <a class="static" href="/{{ account.id }}/equipments/{{ equipment.id }}/info/">Info</a>
      </li>
      <li class="nav-tab {% if tab == 'data' %}ui-tabs-active ui-state-active{% endif %}">
        <a class="static" href="/{{ account.id }}/equipments/{{ equipment.id }}/data/">Data</a>
      </li>
      <li class="nav-tab {% if tab == 'details' %}ui-tabs-active ui-state-active{% endif %}">
        <a class="static" href="/{{ account.id }}/equipments/{{ equipment.id }}/details/">Details</a>
      </li>
      {% if tab == 'connect_meter' %}
        <li class="nav-tab ui-tabs-active ui-state-active">
          <a class="static" href="/{{ account.id }}/equipments/{{ equipment.id }}/connect_meter/">Connect Meter</a>
        </li>
      {% endif %}
      {% if tab == 'connect_measure' %}
        <li class="nav-tab ui-tabs-active ui-state-active">
          <a class="static" href="/{{ account.id }}/equipments/{{ equipment.id }}/connect_measure/">Connect Measure</a>
        </li>
      {% endif %}
      {% if tab == 'connect_building' %}
        <li class="nav-tab ui-tabs-active ui-state-active">
          <a class="static" href="/{{ account.id }}/equipments/{{ equipment.id }}/connect_building/">Connect Building</a>
        </li>
      {% endif %}
      {% if tab == 'connect_space' %}
        <li class="nav-tab ui-tabs-active ui-state-active">
          <a class="static" href="/{{ account.id }}/equipments/{{ equipment.id }}/connect_space/">Connect Space</a>
        </li>
      {% endif %}
    </ul> <!-- .nav-tabs -->

    {% block contents %}
    {% endblock %}

  </div>
</section><!-- .entry -->

{% endblock %}
