{% extends "email_base.html" %}

{% block headline %}{{ headline }}{% endblock %}

{% block body %}
{% load multiply %}
{% load key %}
{% load humanize %}

Hello {{ account.first_name }}, 
<br><br>
Our three attempts to charge your credit card (<strong>{{ card_type }} ***{{ last4 }}</strong>) for your <strong>{{ billing_month_year }}</strong> payment have failed.  Consequently, your account ({{ account.name }}) has been placed on Delinquent status and is no longer accessible.
<br><br>
Please visit your account's <a href="{{ billing_url }}">billing page</a> to update your credit card information so we can reactivate your account.  If you have questions or believe your current card to be valid, please contact us at <a href="mailto:billing@buildingspeak.com">billing@buildingspeak.com</a>.
<br><br>
Thanks for choosing BuildingSPEAK,<br>
The Billing Team

<br>
<br>
<br>

Account:<br>{{ account.name }}
<br><br>
Billed to:<br>
{{ account.first_name }} {{ account.last_name }}<br>
{{ account.street_address }}<br>
{{ account.city }}, {{ account.state }} {{ account.zip_code }}
<br><br>
Billing period:<br>{{ billing_month_year }}
<br><br>
Attempted Charge Amount:<br>{{ charge_amount }}
<br><br>
Charges on your credit card bill should appear as "BuildingSPEAK {{ billing_month }}."
%{ endblock %}
